@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.wrapper {
  width: 85%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
  grid-auto-rows: minmax(400px, auto);
}

.wrapper div {
  padding: 1em;
  position: relative;
}

.wrapper .content {
  width: 70%;
  height: 90%;
  margin: 8px auto;
  text-align: center;
  background-color: #dfe6e9;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 1px 10px 5px grey;
}

.wrapper .content:hover {
  transform: scale(1.1);
}

.wrapper .content p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #669999;
}
.wrapper .content span {
  font-size: 17px;
  color: #636e72;
}

.wrapper .content hr {
  color: white;
}

.wrapper img {
  width: 230px;
  padding-bottom: 20px;
}

.wrapper hr {
  color: grey;
}

.wrapper .content ul {
  text-align: left;
  padding-left: 30px;
}
.wrapper .content ul li {
  color: #636e72;
}

.wrapper .content h3 {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 20px;
}

.Details {
  width: 70%;
  margin: 50px auto;
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
}

.Details .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.Details .content #title {
  font-size: 45px;
  text-align: center;
}

.Details .content img {
  width: 300px;
}

.Details .content #year {
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.Details .content #rating {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Details .content #plot {
  margin-top: 10px;
  margin-bottom: 30px;
}

.Details .content #casts {
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #669999;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 2%;
}
