@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App .head {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: #fff;
  padding-top: 35px;
}

.App form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.App form input {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 25px 0px 0px 25px;
  padding-left: 35px;
  font-size: 15px;
}

.App form button {
  width: 50px;
  border: none;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
}
.App h1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #000;
  padding-top: 5px;
}
